<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Virtual8086_Console.default_set" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Virtual8086_Console.default" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Virtual8086_Console.default_set>
            <setting name="ShowAssemblerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_Code_Filename" serializeAs="String">
                <value>dbg_code.lst</value>
            </setting>
            <setting name="Debug_Ports_Filename" serializeAs="String">
                <value>dbg_ports.lst</value>
            </setting>
            <setting name="SaveAssemblerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDebugPorts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveDebugMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayBIOSWhenDebugging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayVGABIOSWhenDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugAtSegment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugAtAddress" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="DieAtSegment" serializeAs="String">
                <value>3180</value>
            </setting>
            <setting name="DebugAtEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DieAtEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FD2PathAndFile" serializeAs="String">
                <value />
            </setting>
            <setting name="HD1Cyls" serializeAs="String">
                <value>306</value>
            </setting>
            <setting name="HD2Cyls" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HD1Heads" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HD2Heads" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HD1SPT" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="HD2SPT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartOnLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerTickInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MiscROMPathAndFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MiscROMLoadAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartEmuOnLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpMemOnShutdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpMemAbove1MB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpMemFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="Debug_Mem_Filename" serializeAs="String">
                <value>dbg_mem.lst</value>
            </setting>
            <setting name="DebugToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugToScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CalculateTimings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugCodeMaxFileSize" serializeAs="String">
                <value>536870912</value>
            </setting>
            <setting name="DieAtAddress" serializeAs="String">
                <value>818</value>
            </setting>
            <setting name="PhysicalMemoryAmount" serializeAs="String">
                <value>6291456</value>
            </setting>
            <setting name="FD1PathAndFile" serializeAs="String">
                <value>D:\Emulator Stuff\from_flash_ubuntu\v86media\622c_2.flp</value>
            </setting>
            <setting name="HD1PathAndFile" serializeAs="String">
                <value>J:\Emulator Stuff\from_flash_ubuntu\v86media\hd10meg3.img</value>
            </setting>
            <setting name="HD2PathAndFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BIOSPathAndFile" serializeAs="String">
                <value>J:\Emulator Stuff\bios\BIOS-bochs-legacy-1hdc</value>
            </setting>
            <setting name="VideoBiosPathAndFile" serializeAs="String">
                <value>J:\Emulator Stuff\bios\VGABIOS-lgpl-latest</value>
            </setting>
            <setting name="Debug_Path" serializeAs="String">
                <value>j:\temp\Virtual8086_dbg\</value>
            </setting>
            <setting name="CMOSPathAndFile" serializeAs="String">
                <value>J:\Yogi\src\Virtual8086\cmos.bin</value>
            </setting>
        </Virtual8086_Console.default_set>
        <Virtual8086_Console.default>
            <setting name="ShowAssemblerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugCodePathAndFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="DebugPortsPathAndFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="DebugMemoryPathAndFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveAssemblerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDebugPorts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDebugMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayBIOSWhenDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayVGABIOSWhenDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugAtSegment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugAtAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DieAtSegment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DieAtAddress" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="DebugAtEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DieAtEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CMOSPathAndFile" serializeAs="String">
                <value>/home/yogi/src/Virtual8086/cmos.bin</value>
            </setting>
            <setting name="PhysicalMemoryAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcessorType" serializeAs="String">
                <value>i80386</value>
            </setting>
            <setting name="FD1PathAndFile" serializeAs="String">
                <value>/usr/share/virtual_media/floppies/622c.img</value>
            </setting>
            <setting name="FD2PathAndFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="HD1PathAndFile" serializeAs="String">
                <value>/usr/share/virtual_media/c.img</value>
            </setting>
            <setting name="HD2PathAndFile" serializeAs="String">
                <value>/usr/share/virtual_media/c2.img</value>
            </setting>
            <setting name="HD1Cyls" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HD2Cyls" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HD1Heads" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HD2Heads" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HD1SPT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HD2SPT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HD1DeviceType" serializeAs="String">
                <value>IDE_DISK</value>
            </setting>
            <setting name="HD2DeviceType" serializeAs="String">
                <value>IDE_DISK</value>
            </setting>
        </Virtual8086_Console.default>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
