<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WindowsFormsApplication1.default_set" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsFormsApplication1.default_set>
            <setting name="ShowAssemblerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_Code_Filename" serializeAs="String">
                <value>dbg_code.lst</value>
            </setting>
            <setting name="Debug_Ports_Filename" serializeAs="String">
                <value>dbg_ports.lst</value>
            </setting>
            <setting name="SaveAssemblerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDebugPorts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveDebugMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayBIOSWhenDebugging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayVGABIOSWhenDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugAtSegment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugAtAddress" serializeAs="String">
                <value>31744</value>
            </setting>
            <setting name="DieAtSegment" serializeAs="String">
                <value>3180</value>
            </setting>
            <setting name="DebugAtEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DieAtEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FD2PathAndFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="HD1Cyls" serializeAs="String">
                <value>306</value>
            </setting>
            <setting name="HD2Cyls" serializeAs="String">
                <value>1015</value>
            </setting>
            <setting name="HD1Heads" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HD2Heads" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="HD1SPT" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="HD2SPT" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="TimerTickInterval" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="MiscROMPathAndFile" serializeAs="String">
              <value>D:\Emulator Stuff\from_flash_ubuntu\v86media\ibm-basic-1.10.rom</value>/>
            </setting>
            <setting name="MiscROMLoadAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartEmuOnLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpMemOnShutdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpMemAbove1MB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpMemFilename" serializeAs="String">
                <value/>
            </setting>
            <setting name="Debug_Mem_Filename" serializeAs="String">
                <value>dbg_mem.lst</value>
            </setting>
            <setting name="DebugToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugToScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CalculateTimings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugCodeMaxFileSize" serializeAs="String">
                <value>536870912</value>
            </setting>
            <setting name="DieAtAddress" serializeAs="String">
                <value>818</value>
            </setting>
            <setting name="PhysicalMemoryAmount" serializeAs="String">
                <value>2097152</value>
            </setting>
            <setting name="FD1Inserted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FD2Inserted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HD1Installed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HD2Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BootDevice" serializeAs="String">
                <value>Floppy</value>
            </setting>
            <setting name="ManualDebuggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartVideoDetached" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WP_BIT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FD1Type" serializeAs="String">
                <value>1_44</value>
            </setting>
            <setting name="FD2Type" serializeAs="String">
                <value>1_44</value>
            </setting>
            <setting name="TaskNameOffset" serializeAs="String">
                <value>34</value>
            </setting>
            <setting name="MapFile_Use" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpAtEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DumpAtSegment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DumpAtAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugPorts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FD1PathAndFile" serializeAs="String">
                <value>D:\Emulator Stuff\from_flash_ubuntu\v86media\622C_2.flp</value>
            </setting>
            <setting name="HD1PathAndFile" serializeAs="String">
                <value>D:\Emulator Stuff\from_flash_ubuntu\v86media\hd10meg3.img</value>
            </setting>
            <setting name="HD2PathAndFile" serializeAs="String">
                <value>D:\freedos.img</value>
            </setting>
            <setting name="BIOSPathAndFile" serializeAs="String">
                <value>D:\Emulator Stuff\bios\BIOS-bochs-legacy</value>
            </setting>
            <setting name="VideoBiosPathAndFile" serializeAs="String">
                <value>D:\Emulator Stuff\bios\VGABIOS-lgpl-latest</value>
            </setting>
            <setting name="Debug_Path" serializeAs="String">
                <value>i:\temp\Virtual8086_dbg\</value>
            </setting>
            <setting name="CMOSPathAndFile" serializeAs="String">
                <value>I:\virtual8086-temp_backup\3\Virtual8086\cmos.bin</value>
            </setting>
            <setting name="MapFile" serializeAs="String">
                <value>J:\theStuff\Virtual8086\maps\slackware.map</value>
            </setting>
        </WindowsFormsApplication1.default_set>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="Test" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowAssemblerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_Code_Filename" serializeAs="String">
                <value>dbg_code.lst</value>
            </setting>
            <setting name="Debug_Ports_Filename" serializeAs="String">
                <value>dbg_ports.lst</value>
            </setting>
            <setting name="SaveAssemblerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDebugPorts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveDebugMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayBIOSWhenDebugging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayVGABIOSWhenDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugAtSegment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugAtAddress" serializeAs="String">
                <value>31744</value>
            </setting>
            <setting name="DieAtSegment" serializeAs="String">
                <value>3180</value>
            </setting>
            <setting name="DebugAtEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DieAtEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FD2PathAndFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="HD1Cyls" serializeAs="String">
                <value>306</value>
            </setting>
            <setting name="HD2Cyls" serializeAs="String">
                <value>1015</value>
            </setting>
            <setting name="HD1Heads" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HD2Heads" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="HD1SPT" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="HD2SPT" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="TimerTickInterval" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="MiscROMPathAndFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="MiscROMLoadAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartEmuOnLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpMemOnShutdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpMemAbove1MB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpMemFilename" serializeAs="String">
                <value/>
            </setting>
            <setting name="Debug_Mem_Filename" serializeAs="String">
                <value>dbg_mem.lst</value>
            </setting>
            <setting name="DebugToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugToScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CalculateTimings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugCodeMaxFileSize" serializeAs="String">
                <value>536870912</value>
            </setting>
            <setting name="DieAtAddress" serializeAs="String">
                <value>818</value>
            </setting>
            <setting name="PhysicalMemoryAmount" serializeAs="String">
                <value>8000000</value>
            </setting>
            <setting name="FD1PathAndFile" serializeAs="String">
                <value>h:\Emulator Stuff\from_flash_ubuntu\v86media\622C_2.flp</value>
            </setting>
            <setting name="HD1PathAndFile" serializeAs="String">
                <value>h:\Emulator Stuff\from_flash_ubuntu\v86media\hd10meg3.img</value>
            </setting>
            <setting name="HD2PathAndFile" serializeAs="String">
                <value>h:\freedos.img</value>
            </setting>
            <setting name="BIOSPathAndFile" serializeAs="String">
                <value>J:\Yogi\src\bochs-2.6.2\bios\BIOS-bochs-legacy</value>
            </setting>
            <setting name="VideoBiosPathAndFile" serializeAs="String">
                <value>J:\Emulator Stuff\bios\VGABIOS-lgpl-latest</value>
            </setting>
            <setting name="CMOSPathAndFile" serializeAs="String">
                <value>J:\Yogi\src\Virtual8086\cmos.bin</value>
            </setting>
            <setting name="FD1Inserted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FD2Inserted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HD1Installed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HD2Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BootDevice" serializeAs="String">
                <value>Floppy</value>
            </setting>
            <setting name="Debug_Path" serializeAs="String">
                <value>c:\temp\Virtual8086_dbg\</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
      </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
